/* ============================================================== */

/* Forget Password Form */

.layout-form .layout-form__subtitle {
    font-size: 1.6rem;
    transform: translateY(-50%);
    text-align: center;
    font-weight: 400;
}

/* ============================================================== */